body{
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:#FEF2E8;
}
html { scroll-behavior: smooth; }

.box-shadow{
  box-shadow: 10px 10px 62px -22px rgba(0,0,0,0.75);
}